<!DOCTYPE html>
<html>
  <head>
    <title>ALPHA-BLOG aboutpage</title>
    <link rel="stylesheet" type="text/css" href='about.css'>
  </head>
  
  <body background="http://crispme.com/wp-content/uploads/bullets_4-wallpaper-1920x1080.jpg">>
    <h1><center>This.is.ALPHA-BLOG!!!! About page</center></h1>
    <center><img src="http://crispme.com/wp-content/uploads/sniper_2-wallpaper-1920x1080.jpg" width=750 height=450></center>
    
    <div>
    <%= link_to 'Home', root_path %>
    </div>

    <h2>What is best in life?</h2>
    <p>
      <ul>
        <li>Crush your enemies</li>
        <li>See them driven before you</li>
        <li>Here the lamentation of the their women</li>
      </ul>
    </p>
    
    <div>
      <h3>
        HELL IS FOR OTHER PEOPLE
      </h3>
      
      <p>
        <p>Neitzche was overrated!!</p>
        <p>Freud was as well</p>
        
      </p>
      
    </div>
    
    
  </body>
  
  
  
  
</html>