
body {
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}


h1 {
  font-family: "Times New Roman";
  text-align: center;
}

h2 {
  color: black;
  font-family: "Times New Roman";
}


ul {
  color: black;
}
