
  <head>
    <title>ALPHA-BLOG aboutpage</title>
  </head>
  

<div class="parallax">

  <div id="middle2" class='back'>

    <div id="me">
      <h1>About Me</h1>
      <p>I am new to the field of computer science, programming, and web development, with my background originally in Psychology (Clinical). I received my Bachelor degree from CUNY - Hunter College and my Master's degree from Columbia University - Teacher's
        College. I am currently employed as the Director of Operations for a small company that provides clinical services to not-for-profit community agencies serving the intellectually disabled population. While I will always have an undying love for
        psychology, my new-found passion for computer science has been enthralling. Eventually, I hope to be able to incorporate psychology with computer sceience in order to develop innovative tools and apps.</p>
    </div> <!-- id="me -->


    <div class="languages">
      <h3>Languages, Frameworks and Tools</h3>
      <ul>
        <li>Python</li>
        <li>Ruby on Rails</li>
        <li>Ruby</li>
        <li>jQuery</li>
        <li>HTML5</li>
         <li>SQL</li>
        <li>CSS</li>
        <li>Git</li>
        <li>Bootstrap</li>    
      </ul>
      </div> <!-- class="languages" -->
  </div> <!-- id="middle2" -->
  
  
  


    <div id="top" class='back'>
      <div id="topwriting">
      <h1 align="center" id="topwriting">Ian Agpawa</h1>

      <ul class="list-inline" align="center">

        <li><button type="button" class="btn btn-link btn-lg button">
          <a href="https://www.linkedin.com/in/ianagpawa" target="_blank" class="letter"><i class="fa fa-linkedin-square"> LinkedIn</i></a></button></li>
        <li><button type="button" class="btn btn-link btn-lg button">
          <a href="https://github.com/TheArtilect" target="_blank" class="letter"><i class="fa fa-github"> GitHub</i></a></button></li>
        <li><button type="button" class="btn btn-link btn-lg button">
          <a href="http://www.freecodecamp.com/theartilect" target="_blank" class="letter">
            <i class="fa fa-fire"> FreeCodeCamp</i></a></button></li>
        <li><button type="button" class="btn btn-link btn-lg button">
          <a href="http://codepen.io/TheArtilect" target="_blank" class="letter">
            <i class="fa fa-codepen"> Code Pen</i></a></button></li>
      </ul>
      
      <div id="contact">
        <h3>Contact me:</h3>
        <h4><i class="fa fa-google"> agpawaji@gmail.com</i></button></h4>

      </div> <!-- id="contact" -->
      
      </div> <!--id="topwriting" -->
    </div> <!--id="top" -->

</div> <!-- parallax -->
  
  


 </body>