  <head>
    <title>This is the Alpha-Blog homepage</title>
    <link rel="stylesheet" type="text/css" href='home.css'>
  </head>
    <div class="center jumbotron">
      <h1>Alpha-Blog</h1>
      <%= link_to "Have you paid your dues?", "#", class: "btn btn-danger btn-lg btn-xlarge" %>
    </div>
    
    <div id="homewriting">
      <h2>Hello, world</h2>
      
      
    </div>
  


