<!DOCTYPE html>

<html>
  <head>
    <title>This is the Alpha-Blog homepage</title>
    <link rel="stylesheet" type="text/css" href='home.css'>
    
  </head>
  
  <body>
    <h5>You know what ol' Jack Burton says.</h1>
    
    <img src="https://media2.giphy.com/media/140z7HMaiMVUUo/200_s.gif">
    
    <h3>WHo?</h1>
    
    
  
    <a href="https://www.youtube.com/watch?v=bdkBDjtsURo">
    <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSG-GsxdyHhxA7kNYN3M2K3bBjbaISYT3lpsZlNkq6bbFccLByA3w" >
    </a>
    <h1>Jack. Burton. ME!!</h1>
    
  </body>
  
  
  
  <div>
    <%= link_to "'Bout", about_path %>
    
  </div>
  
  
  
  
</html>