<div class="panel panel-footer" id='footerid'>
  <footer class="footer">
    <small>
      Copyright &copy; by Ian Agpawa
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to 'Home', root_path %></li>
      </ul>
    </nav>
  </footer>
</div>