<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.youtube.com/watch?v=98ioAA8yNyY">You must be a fool to think we're alone in this universe</a>
      by Jack Burton
      
    </small>
    
    <nav>
      <ul>
        <li><%= link_to "'Bout", about_path %></li>
      </ul>
    </nav>
    
  </footer>
</div>